:root{
  --primary-color: #0b2e19;
  --secondary-color: #7B7554;
  --accent1-color: #3c3d83;
  --accent2-color: #bcbdd0;
  --accent3-color: #f5deb3;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  max-width: 1000px;
  margin: 0 auto;
  background-color: var(--secondary-color);
}

h1, h2, h3, h4, h5, h6{
  color: var(--accent3-color);  
  font-family: kalam;
}

p{
  color: var(--accent2-color);
  font-family: "Pt Sans";
}

.social-media{
  text-decoration: none;
}


/* Hero */
.hero{
  position: relative;
}

.hero img{
  display: block;
  height: auto;
  width: 100%;
}

.hero h1{
  position: absolute;
  top: 15%;
  background-color: rgba(11, 46, 25, 0.8);
  width: 100%;
  text-align: center;
  color: var(--accent3-color);
}

article{
  position: absolute;
  background-color: rgba(60, 61, 131, 0.8);
  top: 35%;
  margin: 20px;;
  padding: 1rem;
  }

article img{
  float: right;
  max-width: 30%;
  margin: 10px;
}

article p{
  color: var(--accent3-color);
}

header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 1rem 0;
  background-color: var(--accent2-color);
}

header img{
  max-width: 30%;
  justify-self: start;
  margin-left: 2rem;
}

nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
}

nav a{
  color: var(--primary-color);
  text-decoration: none;
  font-size: large;
  transition: transform 0.5s;
}

nav a:hover{
  color: var(--accent1-color);
  transform: scale(1.1);
  transition: transform 0.5s;
}

.history{
  margin: 0;
  padding: 3rem 1rem;
  background-color: var(--primary-color);
}

.history h2{
  text-align: center;
}

.history-content{
  display: flex;
  gap: 1rem;
}

.history-content img{
  width: 40%;
  object-fit: cover;
  min-width: 400px;
}

.history-content p{
  color: var(--accent2-color);
}

.adventure{
  margin: 2rem 0;
}

.adventure h2{
  text-align: center;
}

.adventure-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
  gap: 1rem;
  justify-content: center;
  align-items: start;
  margin-top: 1rem;
}

.adventure-content img{
  height: 120px;
  width: 100%;
  object-fit: cover;}

figcaption{
  text-align: center;
}

/* footer */
footer{
  background-color: var(--accent2-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 2rem;
}

footer p{
  color: var(--primary-color);
  text-align: center;
  grid-column: 2;
}

footer nav{
  display: flex;
  padding:0;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
  grid-column: 3;
}

footer nav img{
  max-width: 60%;
}

/* Contact */
.contact{
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 1rem;
  background-color: var(--primary-color);
}

.contact h2{
  margin-bottom: 1rem;
}

.contact-info{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.contact-info p{
  color: var(--accent2-color);
  font-weight: bold;
}

.map{
  margin: 1rem;
  padding: 0 1rem;
}

/* Employees */
.employees{
  padding: 3rem 0;
  background-color: var(--accent1-color);
}

.employees h2{
  text-align: center;
  margin-bottom: 3rem;
}

.employees img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.employees figure{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

/* Form */
form{
  width: 650px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  background-color: var(--accent2-color);
  display: grid;
}

fieldset{
  display: grid;
  row-gap: 1rem;
  padding: 1rem;
}

legend{
  font-size: 1.2em;
  padding: 0.5rem;
  color: var(--primary-color);
}

input, select, textarea, fieldset{
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
}

input[type="checkbox"]{
  width: 2rem;
  height: 2rem;
  vertical-align: bottom;
}

button{
  padding: 1rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--accent1-color);
  color: var(--accent3-color);
  cursor: pointer;
  width: 25%;
  margin: 1rem auto;
  transition: background-color 0.5s, transform 0.5s;
}
button:hover{
  background-color: var(--primary-color);
  transform: scale(1.1);
  transition: background-color 0.5s, transform 0.5s;
}

.form-item{
  display: grid;
  align-items: center;
}

.radio{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 2rem 1rem;
}

.radio-buttons{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.checkbox{
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
}

.contact-form{
  display: grid;
  gap: 1rem;
  margin: 2rem;
}

.contact-form h2{
  text-align: center;
  margin: 1rem;
}

.contact-form label{
  font-weight: bold;
}

.personal-info{
  display:flex;
  flex-direction: column;
  gap: 1rem;
}

.form-input-group {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  align-items: center;
}

.form-input-group label{
  text-align: right;
}


/* Newsletter */

.newsletter {
  padding: 2rem;
  background-color: var(--primary-color);
  text-align: center;
}

.newsletter form {
  display: inline-block;
  text-align: left;
}

.newsletter label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--primary-color);
}

.newsletter input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid var(--secondary-color);
}

.newsletter button {
  display: block;
  padding: 0.5rem 1rem;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

.newsletter button:hover {
  background-color: var(--primary-color)
}

.call-to-action {
  text-align: center;
  padding: 2rem;
  background-color: var(--accent1-color);
  color: white;
}

.cta-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--secondary-color);
  color: var(--acent2-color);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.5s, transform 0.5s;
}

.cta-button:hover {
  background-color: var(--primary-color);
  color: var(--accent2-color);
  transform: scale(1.1);
  transition: background-color 0.5. transform 0.5s;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 2rem;
}

.grid-item {
  text-align: center;
}

.grid-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Trips */

.trip-descriptions {
  padding: 2rem;
  background-color: var(--primary-color);
}

.trip {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  background-color: var(--accent2-color);
  padding: 1rem;
  border-radius: 10px;
}

.trip img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  margin-right: 1.5rem;
}

.trip-info {
  flex: 1;
}

.trip-info h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--acent2-color);
}

.trip-info p {
  color: var(--accent1-color);
  margin-bottom: 1rem;
}

.trip-info ul {
  list-style-type: none;
  padding: 0;
}

.trip-info ul li {
  margin-bottom: 0.5rem;
  color: var(--acent2-color);
}

/* Trip - Table */
.trip-table {
  padding: 2rem;
  background-color: var(--secondary-color);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

table th, table td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid var(--primary-color);
}

table th {
  background-color: var(--accent1-color);
  color: #f5deb3;
}

table tr:hover {
  background-color: rgba(188, 189, 208, 0.1); /* Light overlay for hover */
}
