:root{
  --primary-color: #0b2e19;
  --secondary-color: #7B7554;
  --accent1-color: #3c3d83;
  --acent2-color: #bcbdd0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  max-width: 1000px;
  margin: 0 auto;
  background-color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6{
  color: var(--acent2-color);  
  font-family: kalam;
}

p{
  color: var(--secondary-color);
  font-family: "Pt Sans";
}

.social-media{
  text-decoration: none;
}


/* Hero */
.hero{
  position: relative;
}

.hero img{
  display: block;
  height: auto;
  width: 100%;
}

.hero h1{
  position: absolute;
  top: 15%;
  background-color: rgba(11, 46, 25, 0.8);
  width: 100%;
  text-align: center;
  color: var(--acent2-color);
}

article{
  position: absolute;
  background-color: rgba(60, 61, 131, 0.8);
  top: 35%;
  margin: 20px;;
  padding: 1rem;
  }

article img{
  float: right;
  max-width: 30%;
  margin: 10px;
}

article p{
  color: var(--acent2-color);
}

header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
}

header img{
  max-width: 60%;
}

nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
  color: var(--acent1-color);
}

nav a{
  color: var(--primary-color);
  text-decoration: none;
  font-size: large;
}

nav a:hover{
  color: var(--accent1-color);
  transform: scale(1.1);
}

.history{
  margin: 1rem 0 1rem 0;
}

.history h2{
  text-align: center;
}

.history-content{
  display: flex;
  gap: 1rem;
}

.history-content img{
  width: 40%;
  object-fit: cover;
}

.history-content p{
  color: var(--acent2-color);
}

.adventure{
  margin: 2rem 0;
}

.adventure h2{
  text-align: center;
}

.adventure-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
  gap: 1rem;
  justify-content: center;
  align-items: start;
  margin-top: 1rem;
}

.adventure-content img{
  height: 120px;
  width: 100%;
  object-fit: cover;}

figcaption{
  color: var(--acent2-color);
  text-align: center;
}

/* footer */
footer{
  background-color: var(--secondary-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 2rem;
}

footer p{
  color: var(--acent1-color);
  text-align: center;
  grid-column: 2;
}

footer nav{
  display: flex;
  padding:0;
  gap: .5rem;
  align-items: center;
  justify-content: flex-end;
  grid-column: 3;
}

footer nav img{
  max-width: 60%;
}

.contact{
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin: 2rem 1rem;
  padding: 1rem;
  background-color: var(--secondary-color);
}

.contact h2{
  color: var(--accent1-color);
  margin-bottom: 1rem;
}

.contact-info{
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

.contact-info p{
  color: var(--accent2-color);
  font-weight: bold;
}

.map{
  max-width: 100%;
  height: auto;
  margin: 1rem;
  padding: 0 1rem;
}

.employees{
  margin: 4rem 0;
}
.employees h2{
  text-align: center;
  margin:1rem;
}

.employees img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.employees figure{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

/* Form */
form{
  width: 650px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #807f7f;
  border-radius: 10px;
  background-color: var(--acent2-color);
  display: grid;
}

fieldset{
  display: grid;
  row-gap: 1rem;
  padding: 1rem;
}

legend{
  font-size: 1.2em;
  padding: 0.5rem;
  color: navy;
}

input, select, textarea, fieldset{
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="checkbox"]{
  width: 2rem;
  height: 2rem;
  vertical-align: bottom;
}

button{
  padding: 1rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: navy;
  color: white;
  cursor: pointer;
  width: 25%;
  margin: 1rem auto;
}
button:hover{
  background-color: #333;
}

.form-item{
  display: grid;
  align-items: center;
}

.radio{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 2rem 1rem;
}

.radio-buttons input{
  width: 1rem;
  height: 1rem;
}

.radio-buttons label{
  font-weight: normal;
}
.checkbox{
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
}

.contact-form{
  display: grid;
  gap: 1rem;
  margin: 2rem;
}

.contact-form h2{
  text-align: center;
  margin: 1rem;
}

.contact-form label{
  font-weight: bold;
}

.personal-info{
  display:flex;
  flex-direction: column;
  gap: 1rem;
}

.form-input-group {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  align-items: center;
}

.form-input-group label{
  text-align: right;
}